#root {
  margin: 0 auto;
  padding: 2rem;
  object-position: center;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 40rem;
  padding: 32px;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.form {
  margin-top: 2rem;
  display: flex;
}

.form input {
  border-radius: 13px;
  border-style: solid;
  border-color: gray;
  width: 85%;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 576px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
