.tado {
  padding: 10px;
  border-radius: 23px;
  background-color: #010409;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 0.2fr 3fr 0.3fr 0.3fr;
  transition: 0.5s;
  cursor: pointer;
}

.checkbox {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  transition: 0.4s;
  display: flex;
}

.check-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.check-container input:checked ~ .checkmark {
  background-color: #00ff66;
}
.check-container input:checked ~ .checkmark:after {
  display: block;
}
.check-container .checkmark:after {
  left: 18px;
  top: 10px;
  width: 10px;
  height: 20px;
  border: solid #f8f9fa;
  border-width: 0 6px 6px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #f8f9fa;
  border-radius: 15px;
}

.check-complete .text {
  text-decoration: line-through;
}

.text {
  margin-left: 1rem;
  cursor: default;
  font-size: x-large;
  align-self: center;
}

.text-edit {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 13px;
  border-style: solid;
  border-color: #343a40;
  padding: 6px;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  font-size: x-large;
}

.edit-tado {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.25s;
}

.edit-tado:hover {
  color: orange;
}
.delete-tado {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.25s;
}

.delete-tado:hover {
  color: red;
}
